* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.home {
    height: 100px;
    width: 100%;
    background-color: blue;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    padding-left: 8%;
    background-color:  #3caca1;
    border-bottom: 1px solid black;
}
.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
.btn {
    background-color:white ;
    color: black;
    border: 2px solid ;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 30px;
}
.btn:hover {
    transform: scale(1.2);
    border: 2px solid white;
    background-color: transparent;
}
.kotak {
    background-color:blue ;
    border: 1px solid;
    border-radius: 20px;
    width: 90%;
    height: 500px;
    margin-top: 130px;
    margin-left: 75px;
    display: flex;
    border:2px solid red;
}

.kotak1 {
    /* display: flex; */
    position: relative;
    background-color: white;
    border: 1px solid;
    border-radius: 20px;
    width: 117%;
    height: 350px;
    margin: 35px;
    padding-bottom: 90px;
}
.kotak1 p {
    text-align: left;
    margin-top: 120px;
    margin-left: 20px;
}
.kotak2 img {
    margin-top: 100px;
}

img {
    position: absolute;
    top:200px;
    right:100px;
}
footer {
    color: black;
    display: flex;
}
footer p {
    text-align: center;
    display: flex;
}